body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #b2d41b;
}

.container {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

#title {
    text-align: center;
    background-color: #ffffff;
    font-size: 50px;
    color: rgb(55, 127, 251);
}

#inputText {
    width: 300px;
    height: 45px;
    border: 1px solid #000000;
    border-radius: 10px;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    padding-left: 10px;
}

#addToDo {
    background-color: #6ef937;
    height: 45px;
    width: 80px;
    border: 1px solid #000000;
    border-radius: 50px;
    vertical-align: middle;
    font-size: 20px;
    outline: none;
    cursor:pointer;
    text-align: center;
}

#addToDo:active {
    background-color: rgb(0, 255, 89);
    color: #ffffff;
}

#clearToDo {
    background-color: #de3b3b;
    color: white;
    height: 45px;
    width: 80px;
    border: 1px solid #000000;
    border-radius: 50px;
    vertical-align: middle;
    font-size: 20px;
    outline: none;
    cursor:pointer;
    text-align: center;

}

#clearToDo:active {
    background-color: #ff0000;
    color: #000000;
}

.to-dos {
    margin-top: 25px;
}

.paragraph-styling {
    display: flex;
    margin: 0px;
    cursor: pointer;
    font-size: 35px;
    color: rgb(0, 7, 1);
    text-transform: capitalize;
}

.paragraph-container {
    display: flex;
    text-align: center;
    justify-content: center;
}


.input {
    margin-left: 30px;
    width: 30px;
    height: 30px;
}